.header-slot {
  align-items: center;
  background: rgb(80, 30, 125);
  color: white;
  display: flex;
  font-weight: 700;
  height: 50px;
  padding: 0 50px;
  position: fixed;
  top: 0;
  width: 100%;
}